@model CouponModel
@{
    ViewData["Title"] = "Tạo mã giảm giá";
}
<h3>Tạo mã giảm giá</h3>

<div class="col-md-9">
    <form autocomplete="off" asp-controller="Coupon" asp-action="Create" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>Tên mã</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Ngày bắt đầu</label>
            <input asp-for="DateStart" class="form-control" />
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Ngày hết hạn</label>
            <input asp-for="DateExpired" class="form-control" />
            <span asp-validation-for="DateExpired" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Số lượng</label>
            <input asp-for="Quantity" min="1" value="1" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Trạng thái</label>
            <select name="Status" class="form-control">
                <option value="1">Kích hoạt</option>
                <option value="0">Ẩn</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Tạo</button>
        </div>
    </form>

    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Tên mã</th>
                <th>Mô tả</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày hết hạn</th>
                <th>Số lượng</th>
                <th>Trạng thái</th>
                <th>Hiệu lực</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in ViewBag.Coupons)
            {
                <tr>
                    <td>@coupon.Name</td>
                    <td>@coupon.Description</td>
                    <td>@coupon.DateStart.ToString("dd-MM-yyyy")</td>
                    <td>@coupon.DateExpired.ToString("dd-MM-yyyy")</td>
                    <td>@coupon.Quantity</td>
                    <td>
                        <select class="status-select form-control" data-id="@coupon.Id">
                            <option value="1" selected="@(coupon.Status == 1 ? "selected" : null)">Kích hoạt</option>
                            <option value="0" selected="@(coupon.Status == 0 ? "selected" : null)">Ẩn</option>
                        </select>

</td>

                    <td>
                        @if (coupon.Status == 0)
                        {
                            <span class="text text-secondary">Đang ẩn</span>
                        }
                        else
                        {
                            if (coupon.DateExpired < DateTime.Now)
                            {
                                <span class="text text-danger">Đã hết hạn</span>
                            }
                            else
                            {
                                TimeSpan remainingTime = coupon.DateExpired - DateTime.Now;
                                int daysRemaining = remainingTime.Days;

                                if (daysRemaining == 0)
                                {
                                    <span class="text text-danger">Hết hạn hôm nay</span>
                                }
                                else
                                {
                                    <span class="text text-success">Còn @daysRemaining ngày</span>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeYear: true,
                minDate: 0,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy'
            });
        });
        $(function () {
            $("#datepicker2").datepicker({
                changeYear: true,
                minDate: +1,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.status-select').change(function () {
                var status = $(this).val();
                var id = $(this).data('id');

                $.ajax({
                    url: '/Admin/Coupon/UpdateStatus',
                    type: 'POST',
                    data: { id: id, status: status },
                    success: function (res) {
                        if (res.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công',
                                text: res.message,
                                timer: 2000,
                                showConfirmButton: false
                                        }).then(() => {
            location.reload();
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: 'Không thể cập nhật trạng thái!',
                            timer: 2000,
                            showConfirmButton: false
                        });
                    }
                });
            });
        });
    </script>

}
